/* Global styles */
*, *::after, *::before {
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Background color for the body */
body {
  background-color: rgb(255, 255, 255);
}

/* Header styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* input styles */
input {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: x-large;
  text-align: center;
}
/* Button styles */
button {
  background-color: blueviolet;
  color: white;
  font-size: x-large;
}

/* Section styles */
section {
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
  font-size: large;
  margin-top: 10%;

}

/* Main styles */
main {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  margin-top: 15px;
}

/* Clock container styles */
.clock {
  width: 500px;
  height: 500px;
  background-color: rgba(220, 216, 216, 0.8);
  border-radius: 50%;
  border: 15px solid black;
  position: relative;
}

/* Clock number styles */
.clock .map {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
}

/* Individual clock number rotation styles */
.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

/* Clock hand styles */
.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

/* Clock center dot styles */
.clock::after {
  content: '';
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* Second hand styles */
.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: red;
}

/* Minute hand styles */
.clock .hand.minute {
  width: 7px;
  height: 40%;
  background-color: blue;
}

/* Hour hand styles */
.clock .hand.hour {
  width: 10px;
  height: 35%;
  background-color: black;
}
